* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E3E3E;
}
body {
  overflow-x: hidden;
  background: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 30px;
}